<div class="panel-view" ng-controller="AppListController as ctrl">
    <div class="wallet-view scrollable">
        <section>
            <header>
                <h1>Firmwares</h1>
            </header>
            <div class="panel" ng-repeat="firmware in ctrl.firmwares">
                <div>Firmware {{firmware.name}}</div>
                <div class="spacer"></div>
                <lbutton text="Install OSU" ng-click="ctrl.installFirmwareOsu(firmware)"></lbutton>
                <lbutton text="Install Firmware" ng-click="ctrl.installFirmware(firmware)"></lbutton>
            </div>
        </section>
        <section>
            <header>
                <h1>Applications</h1>
            </header>
            <div class="panel" ng-repeat="application in ctrl.applications">
                <div>{{application.name}}</div>
                <div class="spacer"></div>
                <lbutton text="Install" ng-click="ctrl.installApp(application)"></lbutton>
                <lbutton text="Uninstall"  type="cancel" ng-click="ctrl.uninstall(application.name)"></lbutton>
            </div>
        </section>
        <div class="panel" style="background-color: transparent;border: 0;">
            <div class="spacer"></div>
            <lbutton text="Refresh" ng-click="ctrl.refresh()"></lbutton>
            <lbutton text="Batch install" ng-click="ctrl.batchInstall()"></lbutton>
        </div>
    </div>
</div>