<div class="launch-screen" ng-controller="ApplyUpdateController as ctrl">
    <div class="launch-screen" ng-show="ctrl.mode == 'wait'">
        <spinner></spinner>
        <div style="margin-top: 30px; text-align: center">
            {{ctrl.action}} {{ctrl.displayableName}}. <br/><br/>Please wait this may take a while...
        </div>
    </div>
    <div class="launch-screen" ng-show="ctrl.mode == 'load'">
        <progressbar percent="{{ctrl.percent}}"></progressbar>
        <div style="margin-top: 30px; text-align: center">
            Loading {{ctrl.displayableName}}. <br/><br/>Please wait this may take a while...
        </div>
    </div>
    <div class="launch-screen" ng-show="ctrl.mode == 'error'">
        <img src="images/icons/ic_error.png" width="50" height="50">
        <div style="margin-top: 30px">
            An error occurred ({{ctrl.lastError}})
        </div>
        <action-bottom-bar style="margin-top: 30px">
            <lbutton text="Export logs" type="cancel" ng-click="ctrl.exportLogs()"></lbutton>
            <lbutton text="Continue" ng-click="ctrl.nextBatchedApp()" ng-show="ctrl.isInBatchMode"></lbutton>
            <lbutton text="Home" ng-click="ctrl.goHome()"></lbutton>
        </action-bottom-bar>
    </div>
    <div class="launch-screen" ng-show="ctrl.mode == 'success'">
        <img src="images/icons/ic_success.png" width="50" height="50">
        <div style="margin-top: 30px;">
            {{ctrl.DisplayableName}} succesfully {{ctrl.done}}.
        </div>
        <action-bottom-bar style="margin-top: 30px">
            <lbutton text="Home" ng-click="ctrl.goHome()"></lbutton>
        </action-bottom-bar>
    </div>
</div>
