<div class="go-live-screen" ng-controller="LedgerLiveController as ctrl">
    <div class="content-frame">
        <img src="images/live/screenshot.png" width="540" height="453"/>
        <div>
            <h3>NOW AVAILABLE</h3>
            <h1>
                Ledger <b>Live</b>
            </h1>
            <h2>
                Ledger is discontinuing Chrome apps
            </h2>
            <p>
                Please download Ledger live, the all-in-one companion app for your Ledger device from <a class="go-link"
                    href="https://www.ledger.com/ledger-live/" target="_blank">https://www.ledger.com/ledger-live</a></br>
                We invite you to shift to Ledger Live as all of our Chrome application will stop working by <b
                    class="go-bold-date">September 2020</b>.
            </p>
            <a id="go" ng-click="ctrl.download()">
                Get Ledger Live now!
            </a>
            <a id="skip" ng-click="ctrl.continue()">Install Ledger Live later</a>
            <a id="support" ng-click="ctrl.openHelpCenter()">Contact support</a>
        </div>
    </div>
</div>