<div class="left-panel">
    <section>
        <header>my device</header>
        <div class="item double-line-item">
            <div class="selector disabled"></div>
            <div>
                <p>Ledger Nano S</p>
                <p>My Ledger Wallet</p>
            </div>
        </div>
    </section>
    <section>
        <header class="small-padding">store</header>
        <div class="item icon-item">
            <div class="selector selected "></div>
            <span>
                <i class="fa fa-th-large" aria-hidden="true"></i><span>applications</span>
            </span>
        </div>
        <div class="item icon-item">
            <div class="selector"></div>
            <span>
                <i class="fa fa-cog" aria-hidden="true"></i><span>firmwares</span>
            </span>
        </div>
    </section>
    <div class="spacer"></div>
    <section>
        <div class="refresh-item">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <div>
                <p>Last update</p>
                <p>Today, 11:45 AM</p>
            </div>
        </div>
    </section>
</div>
