@import (reference) "../constants";

.single-text-panel {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: @font-size-medium;
    font-weight: @font-weight-regular;
    color: @color-soft-grey;
  }
}